#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  height: 100vh;
  padding: .4rem;

  aside {
    box-shadow: 2px 0 5px rgb(0, 0, 0,0.05);
    width: 80%;
    padding: 2rem .5rem;
    

    table,th,td {
      width: 80%;
      border: 1px solid #ccc;
      border-collapse: collapse;
      
      th,td{
       padding: .5rem;
       text-align: left;
      }
    }
  }

  section {
    display: 1;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    textarea {
      border-radius:8px;
      font-weight: bold;
      font-size: 1.2rem;
      padding: .5rem;
      width: 100%;

      &:hover{
        border-color: #646cff;
      }
    }
    
    div{
      margin-top: 2rem;
      width: 100%;
    }
  }
}

